---
title: 'Jerred Rogero'
description: 'Personal Page and Blog'
preloadImg: '/'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

<link rel="stylesheet" href="/assets/css/local.css"/>
<link rel="stylesheet" href="/assets/css/critical.css"/>
<link rel="stylesheet" href="assets/css/styles.css">

<!-- ===== BOX ICONS ===== -->
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "LocalBusiness",
        "name": "{{ client.name }}",
        {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
        {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
        {% if client.email %}"email": "{{ client.email }}",{% endif %}
        {% if client.address %}
            "address": {
                "@type": "PostalAddress"{% if client.address.lineOne %},
                    "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                {% endif %}
                {% if client.address.city %},
                    "addressLocality": "{{ client.address.city }}"
                {% endif %}
                {% if client.address.state %},
                    "addressRegion": "{{ client.address.state }}"
                {% endif %}
                {% if client.address.zip %},
                    "postalCode": "{{ client.address.zip }}"
                {% endif %}
                {% if client.address.country %},
                    "addressCountry": "{{ client.address.country }}"
                {% endif %}
            },
        {% endif %}
        {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
        {% if client.socials %}
            "sameAs": [{% for platform, url in client.socials %}
                    {% if not loop.first %},{% endif %}
                    "{{ url }}"
                {% endfor %}]
        {% endif %}
    }
</script>

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">Jerred Rogero</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#skills" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="/Blog" class="nav__link">Blog</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        
        <!--===== ABOUT =====-->
        <section class="about section" id="about">
            <h2 class="section-title">Hello</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <img src="assets/images/Jerred1.jpeg" alt="">
                </div>

                <div>
                    <h2 class="about__subtitle">I'm Jerred Rogero</h2>
                    <p class="about__text">I built this site to share a little bit of who I am and to think through ideas using my blog. <br> Use the contact form to reachout if you feel so inclinded!</p>
                </div>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">About</h2>

            <div class="skills__container bd-grid">
                <div class="skills__box">
                    <h3 class="skills__subtitle">Interests</h3>
                    <span class="skills__name">Religion</span>
                    <span class="skills__name">Finance</span>
                    <span class="skills__name">Technology</span>
                    <span class="skills__name">Fitness</span>
                    
                    <h3 class="skills__subtitle">Hobbies</h3>
                    <span class="skills__name">Running</span>
                    <span class="skills__name">Golf</span>
                    <span class="skills__name">Pickleball</span>
                </div>

                <div class="skills__img">
                    <img src="" alt="">
                </div>
            </div>
        </section>

        <!--===== CONTACT =====-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact__container bd-grid">
                <div class="contact__info">
                    <h3 class="contact__subtitle">EMAIL</h3>
                    <span class="contact__text">Me@JerredRogero.com</span>

                    <h3 class="contact__subtitle">PHONE</h3>
                    <span class="contact__text">+1</span>

                    <h3 class="contact__subtitle">LOCATION</h3>
                    <span class="contact__text">Athens, GA</span>
                </div>

                <form action="" class="contact__form">
                    <div class="contact__inputs">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                    </div>

                    <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>

                    <input type="submit" value="Enviar" class="contact__button">
                </form>
            </div>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer section">
        <div class="footer__container bd-grid">
            <div class="footer__data">
                <h2 class="footer__title">JERRED ROGERO</h2>
            </div>

            <div class="footer__data">
            </div>
            
            <div class="footer__data">
                <a href="https://www.facebook.com/Jerredroger0/" target="_blank" rel="noopener noreferrer" class="footer__social"><i class='bx bxl-facebook' ></i></a>
                <a href="https://x.com/JerredRogero" target="_blank" rel="noopener noreferrer" class="footer__social"><i class='bx bxl-twitter' ></i></a>
                <a href="https://www.linkedin.com/in/jerredrogero/" target="_blank" rel="noopener noreferrer" class="footer__social"><i class='bx bxl-linkedin' ></i></a>
                <a href="https://www.github.com/jerredrogero/" target="_blank" rel="noopener noreferrer" class="footer__social"><i class='bx bxl-github' ></i></a>
            </div>


        </div>
    </footer>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="assets/js/main.js"></script>
</body>